asgiref==3.11.1
charset-normalizer==3.4.4
cssselect2==0.9.0
Django==6.0.3
django-bootstrap5==26.2
django-classy-tags==4.1.0
django-cms==5.0.6
django-entangled==0.7
django-filer==3.4.4
django-formtools==2.5.1
django-menus==1.1.2
django-polymorphic==4.11.1
django-redis==6.0.0
django-sekizai==4.1.0
django-treebeard==5.0.5
djangocms-admin-style==3.3.1
djangocms-attributes-field==4.1.2
djangocms-file==3.0.1
djangocms-frontend==2.3.0
djangocms-link==5.1.1
djangocms-picture==4.1.1
djangocms-text-ckeditor==5.1.7
djangocms-video==3.1.0
easy-thumbnails==2.10.1
gunicorn==25.1.0
html5lib==1.1
lxml==6.0.2
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
python-decouple==3.8
redis==7.2.1
reportlab==4.4.10
setuptools==82.0.0
six==1.17.0
sqlparse==0.5.5
svglib==1.5.1
tinycss2==1.5.1
typing_extensions==4.15.0
webencodings==0.5.1
