{% load cms_tags %}

<div class="row g-4">
    {% for categorie in categories %}
    <div class="col-md-4">
        <div class="card h-100 border-0 shadow-sm text-center">
            <div class="card-body">
                <span class="badge mb-3" style="background-color: {{ categorie.couleur }};">&nbsp;</span>
                <h5>{{ categorie.nom }}</h5>
                <p class="small text-muted">{{ categorie.description|truncatewords:10 }}</p>
                <a href="#" class="stretched-link text-decoration-none">
                    Voir les articles <i class="bi bi-arrow-right ms-1"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>